@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto Condensed",sans-serif;
}

@layer components {
    .background{
        background: hsla(0,0%,42.7%,.12);
        backdrop-filter: blur(5px);
        font-size: 18px;
    }


};
