@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto+Condensed&display=swap');


::-webkit-scrollbar{
    width: 0.6vh;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(253 224 71);
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: black;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 50px;
}

@layer base {
    .active {
        @apply text-yellow-300;
      }

      * {
        font-family: "Roboto Condensed",sans-serif;
        margin: 0;
        padding: 0;
        /* font-family: 'Mochiy Pop One', sans-serif; */
        scroll-behavior: smooth;
    }
    h1,h2,h3,p {
        font-family: "Roboto Condensed",sans-serif;
    }
}


@layer components {
    .background{
        background: hsla(0,0%,26.7%,.10);
        backdrop-filter: blur(25px);
        font-size: 18px;
    }
    .background-side{
        background: hsla(0,0%,42.7%,.12);
        backdrop-filter: blur(5px);
        font-size: 18px;
    }
    .heightd {
        height : 100%;
    }

    .small-text{
        transform: translateX(50%);
        opacity: 0;
        animation: reveal 1s ease 1s forwards ;
    }

    .text-ani {
        transform: translateX(50%);
        opacity: 0;
        animation: reveal 1s ease 1.7s forwards ;
    }
    .main-text {

        color: transparent;
        -webkit-text-stroke: 1px #fff;
        
        background-clip: text;
        background: url(../Images/back.png);
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
    }

    .header-slid {
        transform: translateY(-50%);
        opacity: 0;
        animation: reveal 1s ease 1s forwards ;
    }

    .side-slid{
        transform: translateX(-50%);
        opacity: 0;
        animation: reveal 1s ease 1.2s forwards ;
    }

    .body-wrapper{
        margin-top: 90px;
        padding: 20px;
        width: 80%;
        border-radius: 10px;
        background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
        box-shadow: 0 0 5px 1px #000;
        margin-bottom: 70px;
    }

    .line {
        content: "";
        width: 90px;
        height: 2px;
        display: inline-block;
        background: #f7d53b;
        margin: 0 10px;
    }
    .line-vertical {
        content: "";
        width: 3px;
        height: 400px;
        display: inline-block;
        background: gray;
    }

    .box_shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -1rem;
        left: -1rem;
        opacity: 0.5;
        background: url(../Images/Untitled-2.png);
    }

    .fade-in {
        animation: fadeIn 5s;
    }

    .inputBox input,
    .inputBox textarea {
        width:100%;
        padding: 5px 0;
        font-size: 16px;
        margin: 20px 0;
        border: none;
        border-bottom: 2px solid yellow;
        outline: none;
        background: transparent;
        resize: none;
        color: white;
    }

    .inputBox span {
        position: absolute;
        font-weight: 600;
        left: 0;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        color : #fff;
        pointer-events: none;
        transition: 0.5s;
    }

    .inputBox input:focus ~ span,
    .inputBox input:valid ~ span
    .inputBox textarea:focus ~ span,
    .inputBox textarea:valid ~ span {
        color: yellow;
        font-size: 12px;
        transform: translateY(-20px)
    }

    .overlay {
        position: sticky;
        object-fit: cover;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% { opacity: 1;}
    }

    @keyframes back {
        100%{
            background-position: 2000px 0;
        }
    }

    @keyframes reveal {
        0%{
            transform: translateX(20);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    

    
        
    


};
